<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head> 
<body>
    <%- include('./partials/header.ejs') %> 
    <img src="<%= image.imgsrc %> " alt="<%= image.title %> ">
    <div>
        <form action="/<%= image.id %>?_method=PUT" method="POST">
            <input type="hidden" name="username" value="<%= currentUser.username %>">
            <input type="text" name="title" value="<%= image.title %> " id="">
            <input type="text" name="imgsrc" value="<%= image.imgsrc %> " id="">
            <% for( let i = 0; i < image.tags.length; i++ ) { %>
                <input type="text" name="tags" value="<%= image.tags[i] %> " id="">
            <% } %>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>