<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <img src="<%= image.imgsrc %> " alt="<%= image.title %>">
    <p><%= image.tags %></p>
    <div id="similarImages">
        <% for( let i = 0; i < allImages.length; i++ ) { %>
            <% if (image.tags.some(j=>allImages[i].tags.includes(j)) && image.imgsrc !== allImages[i].imgsrc) { %>
            <a href="/<%= allImages[i].id %>">
                <img src="<%= allImages[i].imgsrc %> " alt="">
            </a>
            <% } %>
        <% } %>
    </div>
</body>
</html>