<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <img src="<%= image.imgsrc %> " alt="<%= image.title %> ">
    <div>
        <% for( let i = 0; i < allImages.length; i++ ) { %>
            <% for( let j = 0; j < allImages[i].tags.length; j++ ) { %>
                <% if (image.tags.includes(allImages[i].tags[j]) && allImages[i].title !== image.title) { %>
                    <a href="/<%= allImages[i].id %>">
                        <img src="<%= allImages[i].imgsrc %> " alt="allImages[i].title">
                    </a>
                <% } %>
            <% } %>
        <% } %>
    </div>
</body>
</html>